
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: Raleway;
	border: 0;
	padding: 0;
	margin: 0;
	/*background: linear-gradient(to bottom, #777 0%, rgb(189,220,210) 400px, rgb(233,235,230) 600px) no-repeat;*/
	background: linear-gradient(to bottom, #777 0%, rgb(233,235,230) 400px) no-repeat;
	background-color:  rgb(233,235,230);
	color: rgb(20,20,20);
	font-size: 12pt;

	/*
	background-image: url(/media/bw.jpg);
	background-attachment: fixed;
	background-size: cover;	
	background-position: center top;
	*/
}

a {
	color: rgb(0,165,135);
	border:none;
	transition: color 0.3s;
	text-decoration: none;
}
a:hover {
	/*border-bottom-color: rgb(0,165,135);*/
	color: rgb(50,215,160);
}


b {
	font-size: 1.2em;
}

div.header {
	background: white;
/*	position: relative;
	box-shadow: 0px 0px 10px 5px #777;*/
}

table.nav {
	font-size: 20pt;
}

table.nav td{
	padding: 0px 20px 0px 20px;
}

table.nav a {
	/*color: rgb(0,165,135);*/
	color: rgb(20,20,20);
	border-bottom: 4px solid transparent;
	transition: border-bottom-color 0.3s;
}

table.nav .current {
	color: rgb(0,165,135);
}

table.nav a:hover{
	border-bottom-color: rgb(0,165,135);
}

table.nav td:first-child a:hover{
	border-bottom-color: transparent;
}

div.splash {
	background-size: cover;
	background-position: center top;
	height: 125px;
}

div.subheader{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-family: Raleway;
	font-weight: bold;
	font-size: 26pt;
	height: 125px;
	line-height: 125px;
}

section {
	width: 100%;
	height: 100vh;
	
	background-size: cover;
	background-position: center top;
	/*display: none; /*dont' show while loading*/
}

table.center {
	width:100%;height:100vh;
}

table.center > tbody > tr > td {
	text-align:center;
	vertical-align:middle;
}

table.frontpage{
	margin-left:auto;
	margin-right:auto;
	margin-top: -5vh;
	border-spacing: 40px;
	color: black;
}

table.frontpage > tbody > tr > td {
	background: rgba(255,255,255,0.9);
	border-radius: 6px;
	border: 2px solid #777;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: rgb(0,165,135);
	border-left-color: rgb(0,165,135);
	width: 180px;
	padding: 12px;
	height: 85px;
	overflow: hidden;
	box-shadow: 0 0 10px #999;
	/*cursor: pointer;
	transition: background 0.5s;*/
}
/*table.frontpage > tbody > tr > td:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 53%,rgba(206,206,206,1) 100%);
	background-color: rgba(230,230,230,0.9);
}*/

table.frontpage > tbody > tr > td > i {
	float:left;
	font-size:32pt;
	margin-left: 10px;
	margin-right: -10px;
}

table.frontpage > tbody > tr > td > a {
	color: rgb(20,20,20);
	font-weight: bold;
	font-size:16pt;
	border:none;
	border-bottom:2px solid transparent;
	transition: border-bottom-color 0.3s;
	line-height:32pt;
}
table.frontpage > tbody > tr > td > a:hover {
	border-bottom-color: rgb(0,165,135);
}

div.fake_logo > div > div {
	display:inline-block;
	width:40px;
	height:40px;
	margin:1px;
	/*border: 1px solid #444;*/
	/*box-shadow: 0 0 10px #444;*/
}

div.fake_logo > div > div > span {
	float: left;
	position: relative;
	top: 12px;
	left: 10px;
	font-family: Helvetica, Arial, sans-serif;
	color:white;
}

div.logotitle > div:first-child {
	font-family:Lato;
	font-size:22pt;
	color:rgb(0,165,135);
	margin-top:10px;
}

div.logotitle > div+div {
	font-family:Lato;
	font-size:17pt;
	color:#777;
	margin-top:10px;
}

@media screen and (max-width: 1000px) {
	div.logotitle > div:first-child {
		font-size:20pt;
	}
	div.logotitle > div+div {
		font-size:15pt;
	}
}

outline {
	text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
}

div.event_preview {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	line-height: 10pt;
	display: inline-block;
	width: 400px;
}
div.event_preview b {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 10pt;
	margin-left: 5px;
}
div.event_preview div.summary {
	height: 52px;
	padding: 3px;
	margin: 3px;
}
div.event_preview div.summary > h1 {
	font-family: Lato;
	line-height: 22px;
	font-size: 20px;
	padding: 3px 3px 3px 3px;
	padding-bottom: 3px;
	margin: 1px;
}
div.event_preview div.summary > p {
	font-family: Lato;
	font-size: 16px;
	padding: 3px 3px 3px 3px;
	padding-bottom: 3px;
	margin: 1px;
}


div.info {
	font-family: Lato;
	padding:30px;
	line-height:1.4em;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	top: 80px;
	background: rgba(255,255,255,0.9);
	border-radius: 6px;
	border: 2px solid #777;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: rgb(0,165,135);
	border-left-color: rgb(0,165,135);
	box-shadow: 0 0 10px #999;
	color: black;
}

div.info > h1 {
	font-family: Raleway;
	display: block;
	font-size:35px;
	text-align:center;
	font-weight:bold;
}

div.info > h2 {
	display: block;
	font-size:16pt;
	text-align:left;
	font-weight:bold;
}

/*
board stuff
*/
table.person {
	margin: 15px;
	background-color: #eee;
	border-radius: 3px;
	border-bottom: 1px solid rgb(0,165,135);
	border-right: 1px solid rgb(0,165,135);
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	padding: 12px;
}
table.person td:first-child {
	width: 160px;
	text-align: center;
	padding: 15px;
	font-family: Lato;
}
table.person td:first-child > div:first-child {
	font-size: 16pt;
	margin: 0;
	margin-bottom: 3px;
	color: black;
	font-weight: bold;
}
table.person td:first-child > div+div {
	font-size: 10pt;
	text-transform: uppercase;
	color: black;
	margin: 0;
}

table.person td+td {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-position: center top;
	background-size: cover;
}
table.person a[data-mail] {
	font-size: 10pt;
	border:none;
}

div.event {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

div.summary {
	padding: 5px;
	background-size: cover;
	color: white;
	text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
}

div.summary > h1 {
	padding: 3px;
	padding-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.summary > p {
	padding-left: 7px;
	font-size: 13pt;
	font-weight: bold;
}

div.details {
	display: none;
}

div.details a {
	word-break: break-all;
}

div.details td {
	padding: 10px;
	line-height: 1.4em;
	vertical-align: top;
}

div.map {
	margin-top: 20px;
	width: 300px;
	height: 300px;
}

span.darrow {
	display: inline-block;
	border: 5px solid transparent;
	border-top-color: black;
}

div.menu {
	width: 0;
	height: 0;
	position: absolute;
	top: 60px;
}

div.menu > div {
	position: relative;
	z-index: 100;
	left: -15px;
	padding-left: 15px;
	background: white;
	width: 235px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #777;
	border-left: 1px solid rgb(0,165,135);
	border-bottom: 1px solid #777;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: none;
}

div.menu > div > div {
	height: 60px;
	line-height: 60px;
}



